# top directory only
bug/htm
build
dev
doc
git_commit.sh
new
new.*
omh/getstarted/htm
omhelp_data/dictionary.bin
xam
*.log
# all directories
*.swp
*/*.swp
*/*/*.swp
*.tmp
*/*.tmp
*/*/*.tmp
junk
*/junk
*/*/junk
junk.*
*/junk.*
*/*/junk.*
